h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    color: cornflowerblue;
}

#menu{

}
#Login{
    position: relative;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-right: 10px;
}
#Sign_up{
    position: relative;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-right: 10px;
}